<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="logo">
        <h1>Yellowen</h1>
      </div>
      <div class="social">
        <ul class="vertical-menu">
          <li>
            <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-github fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus fa-3x"></i></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>

<footer class="copyright">
  <div class="container">
    <h3 class="center">
      © 2014 Yellowen, Inc.
    </h3>
    <p class="center">
      The design of a robot and thoughtbot are registered trademarks of thoughtbot, inc.
    </p>
  </div>
</footer>
