@import "variables";
@import "lib/bourbon/bourbon";
@import "lib/neat/neat";

.row {
   @include row();
}

.fill-parent {
   @include fill-parent;
}

aside {
   @include span-columns(3);
   background-color: #eeeeef;
   height: 100%;
   position: fixed;
}

section {
   &.content {
      @include span-columns(13);
      @include shift(3);
   }
}