@import "variables";
@import "lib/bourbon/bourbon";
@import "lib/bitters/bitters";
@import "lib/neat/neat";

@import "grid";

@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato");

* {
   padding: 0;
   margin: 0;
}

h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}
p {
   font-family: 'Lato', sans-serif;
}

.center {
   text-align: center;
}
