@import "variables";
@import "lib/bourbon/bourbon";
@import "lib/bitters/bitters";
@import "lib/neat/neat";

@import "grid";

@import "patterns/hero";
@import "patterns/nav";
@import "patterns/footer";
@import "patterns/lists";

@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato");

* {
   padding: 0;
   margin: 0;
}

h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}
p {
   font-family: 'Lato', sans-serif;
}

.center {
   text-align: center;
}


section.step {
   border-bottom: 1px solid $lighter_gray;
   color: #40526B;
      //lighten($dark_gray, 15%);
   article {
      .paragraph {
         @include pad(1em 1em 3em 1em);
         @include calc(font-size, '20px');
         line-heigth: 2;
      }

   }

   &:last-of-type {
      border-bottom: none;
   }
   &.bg-orange {
      border-bottom: 1px solid $light_orange !important;
   }
   &.project {
      @include pad(60px 0 0px 0);
   }
}

.activity {
   margin: 0.5em 0;
   @include span-columns(12);
   @include row();
   @include pad(1em 2em);
   background: white;
   border: 1px solid $light_gray;
   border-radius: 4px;

   .avatar {
      @include span-columns(1);
      img {
         border-radius: 5px;
         border: 1px solid $lighter_gray;
      }

   }
   .activity-text {
      .date {
         color: gray;
         float: right;
         background: $almost_white;
         border-radius: 4px;
         @include pad(0.3em 0.5em);
         font-size: 0.8em;
      }
   }

}



div.container {
   section {
      border-bottom: 1px solid $very_light_gray;

      p {
         @include pad(1em 1em 3em 1em);
         @include calc(font-size, '20px');
         line-height: 2;

      }

      &:last-of-type {
         border-bottom: none;
      }
   }
}

.gray-logos {
   position: relative;
   overflow: hidden;

   img {
      width: 5em;
      height: 5em;
      opacity: 0.1;
      position: absolute;
      margin: 0 auto;

      &#js-logo {
         top: 30%;
         right: 10%;
         @include transform(rotate(40deg));
      }

      &#nodejs-logo {
         top: 30%;
         left: 20%;
         @include transform(rotate(-12deg));
      }
      &#python-logo {
         top: 50%;
         left: 40%;
         width: 6em;
         height: 6em;
      }
      &#ruby-logo {
         top: 74%;
         right: 15%;
      }
      &#html-logo {
         top: 85%;
         left: 25%;
         @include transform(rotate(200deg));
      }
      &#css-logo {
         top: 60%;
         left: 3%;
      }
      &#git-logo {
         top: 40%;
         right: 30%;
         @include transform(rotate(15deg));

      }
      &#linux-logo {
         top: 10%;
         right: 44%;
         @include transform(rotate(5deg));

      }

   }

}

.screenshots {
   position: relative;
   padding-bottom: 0 !important;
   img {
      width: 70%;
      height: 39.34%;
   }
   .first_screen {
      position: absolute;
      margin: 0 auto;
      bottom: 0;
   }
}
// Background classes
   .bg-lighter-gray {
      @include background(#{$lighter_gray});
   }

   .bg-very-light-gray {
      @include background(#{$very_light_gray});
   }

   .bg-almost-white {
      @include background(#{$almost_white});
   }

   .bg-orange {
      @include background(#{$light_orange});
      p, h1{
         color: $almost_white;
      }
   }

   .bg-green {
      @include background(#{$green});
      color: $almost_white;
   }

   .bg-orange-gradient {
      @include radial-gradient($light_orange, $orange);
      color: $almost_white;
   }
