@import "lib/neat/neat-helpers";
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato");

$white: white;
$almost_white: #f5f5f5;
$very_light_gray: #eeeeec;
$lighter_gray: #dedede;
$darker_gray: #3f3f3f;

$brown: #776045;
$light_brown: #DFD3B6;
$green: #A8C545;
$blue: #0092B2;

$side_bg: $brown;
$side_border_color: $light_brown;

$header_height: 40em;

// Grid
$column: 60px;
$gutter: 10px;
$grid-columns: 16;
$max-width: em(1000);

$sans-serif: 'Montserrat', sans-serif;
// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
